.Root {
    max-width: 1280px;
    margin: auto;
}

.Button {
    font-size: 1.50rem;
    white-space: nowrap;
    padding: 10px 10px;
}

@media(max-width: 1279px) {
    .ScreenLarge {
        display: none !important;
    }
}

@media(min-width: 1280px) {
    .ScreenSmall {
        display: none !important;
    }
}

.Wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 0 20px;
}

.Section {
    min-width: 500px;
    margin-top: 30px;

    .Label {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.00rem;
    }

    .ValueWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .Value {
            min-width: 170px;
            text-align: center;
            font-size: 4.75rem;
            font-family: monospace;
        }

        .Button {
            font-size: 2.25rem;
            min-width: 60px;
        }
    }
}

@media(max-width: 1279px) {
    .Wrapper {
        flex-direction: column;
    }

    .Section {
        min-width: 0;
        margin-top: 10px;
    }
}

.BottomContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ControlsWrapper {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Controls {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 40px;

        .Label {
            font-size: 1.75rem;
            text-align: center;
            margin-bottom: 10px;
        }

        .ControlSection {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin: 0 -10px;

            button:nth-child(1) {
                flex: 20%;
            }

            button:nth-child(2) {
                flex: 60%;
            }

            button:nth-child(3) {
                flex: 20%;
            }

            button {
                margin: 0 10px;
            }
        }

        .CompactControlSection {
            display: flex;

            margin: -5px;

            .Button {
                margin: 5px;
            }

            & > .Button {
                flex: 60%;
                min-height: 150px;
            }

            .CompactRight {
                flex: 40%;
                display: flex;
                flex-direction: column;

                .Button:nth-child(1) {
                    flex: 70%;
                }

                .Button:nth-child(2) {
                    flex: 30%;
                }
            }
        }
    }
}

.FinalButton {
    margin-top: 50px;
}

@media(max-width: 1279px) {
    .ControlsWrapper {
        min-width: 80%;
    }

    .FinalButton {
        margin-top: 30px;
    }
}
